# Postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# APP
APP_PORT=5000

# WB
WB_BASE_URL="https://common-api.wildberries.ru"
WB_API_KEY="your_api_key"

# SpreadSheets
SHEET_NAME=stocks_coefs